In [4]:
person = {
    "first": "Corey",
    "last": "Shafer",
    "email": "CoreyMShafer@gmail.com"
}

In [5]:
people = {
    "first": ["Corey"],
     "last": ["Shafer"],
    "email": ["CoreyMShafer@gmail.com"]
}

In [6]:
people = {
    "first": ["Corey", "Jane", "John"],
     "last": ["Shafer", "Doe", "Doe"],
    "email": ["CoreyMShafer@gmail.com", "JaneDoe@gmaio.com", "JohnDoe@gmail.com"]
}

In [7]:
people["email"]

['CoreyMShafer@gmail.com', 'JaneDoe@gmaio.com', 'JohnDoe@gmail.com']

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame(people)

In [10]:
df

   first    last                   email
0  Corey  Shafer  CoreyMShafer@gmail.com
1   Jane     Doe       JaneDoe@gmaio.com
2   John     Doe       JohnDoe@gmail.com

In [11]:
df["email"]

0    CoreyMShafer@gmail.com
1         JaneDoe@gmaio.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [12]:
type(df["email"]) # series object
# series is a list of data, it has a lot of functionality
# a dataframe is a container for multiple of these series object
# email column is a series
# series also has an index

pandas.core.series.Series

In [13]:
df["email"]

0    CoreyMShafer@gmail.com
1         JaneDoe@gmaio.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [14]:
df.email # this also a way to get column but the above one is preferred
#because if the column name and method of a dataframe are same that could create problems

0    CoreyMShafer@gmail.com
1         JaneDoe@gmaio.com
2         JohnDoe@gmail.com
Name: email, dtype: object

# series object
# series is a list of data, it has a lot of functionality
# a dataframe is a container for multiple of these series object 
# email column is a series 
# series also has an index

In [21]:
# Access multiple columns
df[["last", "email"]]

     last                   email
0  Shafer  CoreyMShafer@gmail.com
1     Doe       JaneDoe@gmaio.com
2     Doe       JohnDoe@gmail.com

In [ ]:
# to see all the columns
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [ ]:
#loc and iloc
#iloc - integer location

df.iloc[0]

first                     Corey
last                     Shafer
email    CoreyMShafer@gmail.com
Name: 0, dtype: object

In [29]:
df.iloc[[0,2]]

   first    last                   email
0  Corey  Shafer  CoreyMShafer@gmail.com
2   John     Doe       JohnDoe@gmail.com

In [30]:
df.iloc[[0,2], 2]

0    CoreyMShafer@gmail.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [ ]:
#loc - search by label

In [33]:
df

   first    last                   email
0  Corey  Shafer  CoreyMShafer@gmail.com
1   Jane     Doe       JaneDoe@gmaio.com
2   John     Doe       JohnDoe@gmail.com

In [34]:
df.loc[0]

first                     Corey
last                     Shafer
email    CoreyMShafer@gmail.com
Name: 0, dtype: object

In [35]:
df.loc[[0,1]]

   first    last                   email
0  Corey  Shafer  CoreyMShafer@gmail.com
1   Jane     Doe       JaneDoe@gmaio.com

In [36]:
df.loc[[0,1], 'email']

0    CoreyMShafer@gmail.com
1         JaneDoe@gmaio.com
Name: email, dtype: object

In [37]:
df.loc[[0,1], ['email', "last"]]

                    email    last
0  CoreyMShafer@gmail.com  Shafer
1       JaneDoe@gmaio.com     Doe

In [38]:
df['email']

0    CoreyMShafer@gmail.com
1         JaneDoe@gmaio.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [ ]:
# setting email as the index for the dataframe
df.set_index('email')

                        first    last
email
CoreyMShafer@gmail.com  Corey  Shafer
JaneDoe@gmaio.com        Jane     Doe
JohnDoe@gmail.com        John     Doe

In [43]:
df # pandas doesn't do the changes in place so the index won't be updated in the original dataframe
# for that you have to specifically mention it

   first    last                   email
0  Corey  Shafer  CoreyMShafer@gmail.com
1   Jane     Doe       JaneDoe@gmaio.com
2   John     Doe       JohnDoe@gmail.com

In [44]:
df.set_index('email', inplace=True)

In [ ]:
df # now the dataframe is changed

                        first    last
email
CoreyMShafer@gmail.com  Corey  Shafer
JaneDoe@gmaio.com        Jane     Doe
JohnDoe@gmail.com        John     Doe

In [47]:
df.index

Index(['CoreyMShafer@gmail.com', 'JaneDoe@gmaio.com', 'JohnDoe@gmail.com'], dtype='object', name='email')

In [50]:
df.loc["CoreyMShafer@gmail.com", "last"]

'Shafer'

In [ ]:
df.iloc[0] # this still works even though index changed

first     Corey
last     Shafer
Name: CoreyMShafer@gmail.com, dtype: object

In [ ]:
df.reset_index(inplace=True) # resets the index to 0,1 etc

In [17]:
df

   first    last                   email
0  Corey  Shafer  CoreyMShafer@gmail.com
1   Jane     Doe       JaneDoe@gmaio.com
2   John     Doe       JohnDoe@gmail.com

In [ ]:

#FILTER BASICS
filt = (df["last"] == "Doe") # paranthesis for no reason
df[filt]

df[df["last"] == "Doe"] # this can also be done, but hard to read

  first last              email
1  Jane  Doe  JaneDoe@gmaio.com
2  John  Doe  JohnDoe@gmail.com

In [21]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@gmaio.com
2  John  Doe  JohnDoe@gmail.com

In [22]:
df.loc[filt, 'email']

1    JaneDoe@gmaio.com
2    JohnDoe@gmail.com
Name: email, dtype: object

In [26]:
filt = (df['last'] == "Doe") & (df["first"] == "John")
df[filt]

  first last              email
2  John  Doe  JohnDoe@gmail.com

In [27]:
df.loc[filt, "email"]

2    JohnDoe@gmail.com
Name: email, dtype: object

In [30]:
filt = (df['last'] == "Shafer") | (df["first"] == "John")
df.loc[filt, "email"]

0    CoreyMShafer@gmail.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [31]:
filt = (df['last'] == "Shafer") | (df["first"] == "John")
df.loc[~filt, "email"]

1    JaneDoe@gmaio.com
Name: email, dtype: object